<% provide(:title, "Sign in") %>

<h1>Sign in</h1>
<style media="screen" type="text/css">
<!-- .wei-style{ color: #face00; font-size:1.3em; }  -->
</style>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <!-- first arg is the name for the resource, and 2nd arg is its URL -->
      <%= f.label :email %>
      <%= f.text_field(:email) %>

      <%= f.label :password %>
      <%= f.text_field(:password, type:"password") %>
    
      <%= f.submit("Sign in", class: "btn btn-large btn-primary") %>
    <% end %>
    <p>New User? <%= link_to("Sign up now!", signup_path) %></p>
  </div>
</div>
